.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    h1 {
      font-size: 24px;
    }
  
    .bookmark {
      background: none;
      border: none;
      cursor: pointer;
  
      .icon-bookmark {
        font-size: 20px;
      }
    }
  }
  